{% extends "base.html" %}

{% block htmltitle %}Hello, potential moonstar{% endblock %}

{% block content %}

    <h1>Hello, potential <a href="/">moonstar</a></h1>

    <p>Friends of the founders get self-serve <a href="/signup">invitations</a>. Sign in with Steam for yours. (That’s just to make sure you’re you for the invitation. You’ll sign in to Moonstars with a password.)</p>

    <form method="post" action="{{ url_for('index') }}">
        <p><button><img width="154" height="23" alt="Sign in through Steam" src="{{ url_for('static', filename='sits_small.png') }}"></button></p>
    </form>

{% endblock %}
